---
import { Font } from 'astro:assets';

const { title, description, ogImage } = Astro.props;
---

<title>{title}</title>

<meta
  name="viewport"
  content="width=device-width, initial-scale=1"
/>

<link
  rel="preconnect"
  href="https://stats.alexislours.com"
/>

<Font cssVariable="--font-newsreader" preload />
<Font cssVariable="--font-inter" preload />

<link
  rel="icon"
  type="image/svg+xml"
  href="/favicon.svg"
/>

<link
  rel="icon"
  type="image/png"
  href="/favicon.png"
/>

<link
  rel="alternate"
  type="application/rss+xml"
  title="Alexis LOURS"
  href="/rss.xml"
/>

<meta
  name="description"
  content={description}
/>

<meta
  property="og:image"
  content={ogImage}
/>

<meta
  property="og:title"
  content={title}
/>

<meta
  property="og:description"
  content={description}
/>

<meta
  name="twitter:card"
  content="summary_large_image"
/>

<meta
  name="twitter:title"
  content={title}
/>

<meta
  name="twitter:description"
  content={description}
/>

<meta
  name="twitter:image"
  content={ogImage}
/>

<link
  rel="sitemap"
  href="/sitemap-index.xml"
/>

<script
  defer
  src="https://stats.alexislours.com/script.js"
  data-domains="alexislours.com"
  data-website-id="de661cdc-605e-4a35-8a69-b8a63f33ec0a"
></script>
